body{
background-image:url("slike/pozadina.jpg");
text-align:center;
}
.text {

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: large;
color: black;
}
 #sna
 {
align-items: center;
width:250px;
height:100px;
background-color:red;
box-shadow:15px 15px 10px rgb(0, 0, 0);
border-radius:25px;
  }

.navbar{
background-color:rgb(12, 30, 161);
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;

}

.navbar a{
float: left;
    display: block;
  color: black;
 font-size:20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none; 
}
.navbar a:hover {
    
    background-color:black;
  color: rgb(0, 0, 0);
}
a.bold {
    font-weight: bold;
     border-bottom: 3px solid rgb(0, 0, 0);
}
 p {
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: open sans;
    font-size: 100%;
 }
 h1{
  text-align:center;
  color:rgb(0, 0, 0);
  font-size: 40px;
 }
 h2{
  text-align:left;
  color: rgb(0, 0, 0);

 }
 #tabela
 {
  width:95%;
   border:4;
    background-color:gray;
    text-align:center;
box-shadow:20px 15px 15px rgb(0, 0, 0);


 }
 #tabela tr{
  background-color: red;
   color:rgb(0, 0, 0);
   font-size:25px;
  text-align:center;

 }
 .prvi
 {
  size: 30px;
  text-align:center;
  color:rgb(0, 0, 0);
 }

 .navbar .active { 
  background-color: rgb(106, 110, 110); }
 #opis
{
box-shadow:15px 15px 10px red;
}
 .kol
            {
              font-size:100%;
              text-align:justify;
              column-count:4;
              column-gap:40px;

              column-rule-style:outset;
              column-rule-width:2px;
              column-rule-color:red; 
            } 

 .an
            {
            
              
              font-size:100%;
              text-align:justify;
              color:red;
              animation-name:ryg;
              animation-duration:20s;
            }
         @keyframes ryg
                       {
                         from{color:red;}
                         50%{color:pink;}
                         to{tcolor:black;} 
                        }

 .pr
            {
              border:solid 1px;
         
              background:black;
              transition:width 3s, height 3s,background 4s;
            }
        .pr:hover
            {
              width:60%;
              height:50%;
              font-size:150%;
              background:rgb(0, 0, 0);

            }
            .fa-twitter {
              background: #55ACEE;
            
            }
            .fa-instagram {
              background: #125688;
              color: white;
            }
            .fa-youtube {
              background: #bb0000;
              color: white;
            }